@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wp-block-embed.wp-embed-aspect-16-9{
    @apply aspect-video;
  }
  
  .wp-block-embed iframe{
    @apply mx-auto w-full;
  }

}
.wp-block-group.code-wrapper{
  @apply flex flex-col gap-y-0 mb-2 max-w-screen-md w-full overflow-x-auto;
}

.wp-block-group.code-wrapper .code-header{
  @apply bg-gray-800 text-white py-4 px-4 m-0 rounded-b-none rounded-t-lg border-b border-gray-900 leading-none;
}

.wp-block-group.code-wrapper .code-body{
  @apply bg-gray-900 p-4 m-0 rounded-b-lg rounded-t-none min-w-max overflow-x-auto w-full;
}


.react-grid-item.react-grid-placeholder {
  background: gray;
  transition-duration: 300ms;
  border-radius: 1.5rem;
  z-index: 0;
}

.react-grid-item {
  transition-duration: 400ms;
}

.mapboxgl-control-container {
  display: none !important;
}

.medium-zoom-image {
  border-radius: 2rem;
}

.notion-code {
  border-radius: 1rem;
}

.notion-code-copy-button {
  display: none;
}

iframe.notion-asset-object-fit {
  background-color: transparent;
  border-radius: 1rem;
}

.video-stream html5-main-video {
  border-radius: 1rem;
  background-color: transparent;
}

.notion-yt-lite {
  border-radius: 1rem;
  background-color: transparent;
}
